---
# Source: chromadb-init/templates/namepace.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: rag
---
# Source: chromadb-init/templates/secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: chromadb-openai
  namespace: rag
  labels:
    app.kubernetes.io/name: chromadb-init
    app.kubernetes.io/instance: chromadb-init
type: Opaque
stringData:
  OPENAI_API_KEY: "VALUE"
  EXA_API_KEY: "VALUE"
---
# Source: chromadb-init/templates/storageclass.yaml
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-storage
provisioner: kubernetes.io/no-provisioner
reclaimPolicy: Retain
# WaitForFirstConsumer is generally better for local storage
volumeBindingMode: WaitForFirstConsumer
---
# Source: chromadb-init/templates/pv.yaml
apiVersion: v1
kind: PersistentVolume
metadata:
  name: task-pv-volume
  namespace: rag
  labels:
    type: local # A common label for hostPath PVs
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: local-storage
  # HostPath configuration for demonstration purposes
  hostPath:
    path: /mnt/data
---
# Source: chromadb-init/templates/pvc.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: chromadb-vectordb
  namespace: rag
  labels:
    app.kubernetes.io/name: chromadb-init
    app.kubernetes.io/instance: chromadb-init
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: "local-storage"
---
# Source: chromadb-init/templates/job.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: chromadb-init-init
  namespace: rag
  labels:
    app.kubernetes.io/name: chromadb-init
    app.kubernetes.io/instance: chromadb-init
spec:
  backoffLimit: 1
  ttlSecondsAfterFinished: 86400
  template:
    metadata:
      labels:
        app.kubernetes.io/name: chromadb-init
        app.kubernetes.io/instance: chromadb-init
    spec:
      restartPolicy: Never
      containers:
        - name: chromadb-init
          image: wlongo74/chromadb-init:0.1.0
          imagePullPolicy: Never
          env:
            - name: OPENAI_API_CYPHER
              valueFrom:
                secretKeyRef:
                  name: chromadb-openai
                  key: OPENAI_API_KEY
            - name: EXA_KEY
              valueFrom:
                secretKeyRef:
                  name: chromadb-openai
                  key: EXA_API_KEY
            - name: COLLECTION_NAME
              value: "derms_kb"
            - name: DB_PATH
              value: "/mnt/data/vectordb"
            - name: MODEL_NAME
              value: "text-embedding-3-small"
            - name: BATCH_SIZE
              value: "128"
            - name: CSV_PATH
              value: "/app/archive/estimate.csv"
            - name: CSV_ENCODING
              value: "ISO-8859-1"
            - name: FAIL_ON_MISSING_COLUMNS
              value: "false"
          volumeMounts:
            - name: vectordb
              mountPath: "/data"
      volumes:
        - name: vectordb
          persistentVolumeClaim:
            claimName: chromadb-vectordb
