namespace:
  name: "rag"

image:
  repository: "wlongo74/chromadb-init"
  tag: "0.1.2"
  pullPolicy: IfNotPresent

chromadb:
  collectionName: "derms_kb"
  dbPath: "/tmp/data/vectordb"
  modelName: "text-embedding-3-small"
  batchSize: 128

api:
  moduleAsgi: main

service:
  annotations: {}
  labels: {}
  port: 80
  targetPort: 8000
  type: ClusterIP

ingress:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  labels: {}
  ingressClassName: nginx



csv:
  path: "/app/archive/estimate.csv" # Used if csv.url is empty
  encoding: "ISO-8859-1"
  failOnMissingColumns: false

persistentVolume:
  enabled: true
  name: task-pv-volume
  namespace: openai
  capacity: 20Gi
  accessMode: ReadWriteOnce
  storageClass: local-storage # <-- Updated to match the SC name
  # WARNING: hostPath is for development/testing only.
  hostPath:
    path: "/tmp"
    
storageClass:
  enabled: true
  # The name used by the StorageClass, PV, and PVC
  name: local-storage
  namespace: openai 
  # For local/hostPath PVs, use kubernetes.io/no-provisioner
  provisioner: kubernetes.io/no-provisioner
  reclaimPolicy: Retain # Retain or Delete. Keep Retain for hostPath/manual PVs to prevent data loss.
  volumeBindingMode: WaitForFirstConsumer

pvc:
  create: true
  name: "chromadb-vectordb"
  namespace: openai
  existingClaim: "" # If set, use this existing PVC and ignore creation
  mountPath: "/data"
  storageClassName: "local-storage" # Defaults to cluster default if empty
  accessModes:
    - ReadWriteOnce
  size: "10Gi"

cypher:
  create: true
  name: "chromadb-openai"
  # Provide securely at install time, e.g.:
  # --set-file cypher.openaiApiKey=/path/to/key.txt
  openaiApiCypher: "VALUE"
  exaApiCypher: "VALUE"

deployment:
  annotations: {}
  labels: {}

job:
  backoffLimit: 1
  ttlSecondsAfterFinished: 86400
  annotations: {}
  labels: {}
  restartPolicy: Never

path: /
pathType: Prefix
host: www.rag.wlp.example.it
nodeSelector: {}
tolerations: []
affinity: {}
podAnnotations: {}
podLabels: {}
serviceAccountName: ""
imagePullSecrets: [] # e.g., [{ name: regcred }]
replicaCount: 1
podSecurityContext: {}
securityContext: {}
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi